# Rust
**/target
**/*.rs.bk
Cargo.lock

# Webapp
webapp/node_modules
webapp/dist
webapp/pkg

# PRU
*.bin
*.obj
*.elf
build

# Python
__pycache__
pysim_*

# mdbook
book/

# drosix
images/
.stamp_docker
*.log
*.csv
