@import "nord.scss";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $nord0;
    color: $nord6;
}

@import "src/routes/login.scss";
