@import "nord.scss";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #2e3440;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    background-color: $nord10;
    color: $nord4;
    font-size: 32px;
}

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-links a {
  color: $nord4;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 24px;
  height: 100%;
}

.menu li {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.menu li:hover {
  background-color: $nord9;
  border-radius: 5px;
  transition: 0.3s ease;
}

.button {
    background-color: #2e3440;
    border: 0.1vw solid #4c566a;
    border-radius: 1vh;
    color: #d8dee9;
    padding: 0.3% 0.7%;
    text-align: center;
    font-size: 2vh;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
.button:hover {
    color: #88c0d0;
    border-color: #88c0d0;
}

.canvas {
    padding: 0;
    margin: auto;
    display: block;
}

.joystick_containter {
    padding: 0;
    height: 100%;
    width: 50%;
    display: flex;
    background-color: #2e3440;
}

.joystick_base {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: grey;
    z-index: 998;
}
.joystick_top {
    position: relative;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: black;
    z-index: 999;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu { 
    display:none;
    position: absolute;
    background-color: $nord10;
    right: 0;
    left: 0;
    top: 38px;
    text-align: center;
    padding: 16px 0;
    height: auto;
  }
  .menu li {
    display: block;
    width: 100%;
  }
  .menu li:hover {
    display: inline-block;
    background-color: $nord9;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger {
    display: block;
  }
}
